.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-container {
    background-color: white;
    width: 9.5rem;
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.bar {
    background-color: var(--text-blue);
    width: 9rem;
    height: 9rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    background-color: white;
    width: 8rem;
    height: 8rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 2rem;
    color: var(--text-grey)
}