.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.text-container {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.sign-in {
    cursor: pointer;
    color: var(--text-blue);
    font-weight: bold;
}