.container {
    width: 60%;
    margin: 3rem auto;
}
.bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.x-icon {
    padding: 1rem;
    border: var(--grey) .1rem solid;
    border-radius: 50px;
    font-size: 1.5rem;
}

.x-icon:hover {
    cursor: pointer;
    background-color: var(--grey);
}

.timer-container {
    margin: 3rem auto -5rem;
    width: fit-content;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 360px;
    padding: .3rem;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: var(--question-blue);
    border-radius: 20px;
}

.text {
    width: 60%;
    text-align: center;
}

.timer-text {
    font-size: 2rem;
    color: var(--text-grey)
}