.container {
    border-radius: 100%;
    border: 15px solid var(--text-blue);
    font-size: 2.5rem;
    width: 30rem;
    height: 30rem;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 70%);
}

.text-container {
    margin: 5rem auto 2rem;
    text-align: center;
    color: var(--text-grey);
}

.score {
    font-size: 2.5rem;
}