.container {
    width: 70%;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.arrow {
    font-size: 3rem;
    cursor: pointer;
}

.element-container, .delete-button_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
}

.delete-button_container {
    align-items: center;
}

.element-container::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
}

.input {
    width: 40rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: .5rem;
    margin-bottom: 1rem;
}


.single-item {
    display: flex;
    gap: 40rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 41.5rem;
}

.image-wrapper {
    position: relative;
    text-align: center;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    cursor: pointer;
}

.image {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 50px;
}

.image-wrapper:hover {
    filter: brightness(0.75);
}

.delete-button {
    width: 40rem;
    height: 3rem;
    background-color: var(--red);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.delete-button:hover {
    background-color: #c13b2e;
}

.error-border {
    border: .1rem solid #FF5341 !important;
}

.error-text {
    text-align: left;
    color: #FF5341;
    max-width: 28rem;
}