.container {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid var(--grey);
    margin-top: 1.25rem;
    padding: 1rem 3rem;
    font-weight: 500;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border: 1.5px solid var(--grey);
    background-color: white;
}

.container:hover {
    cursor: pointer;
    background-color: var(--grey);
}